body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
 
#name {
    float: left;
}
.topnav a {
    float: right;
    display: block;
    color: goldenrod;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 18px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    color: white;
}

.topnav a.active:hover{
    color: black;
}
  
.topnav .icon {
    display: none;
}
  
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: left;
        display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        float: left;
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: left;
        display: block;
        text-align: left;
    }
}